@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Sora';
    src: url('fonts/Sora/Sora-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
